.mainContainer {    
    width: 50%;
    height: 50%; /* Yüksekliği %75 yap */    
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center; /* Dikeyde ortalama */
    align-items: center; /* Yatayda ortalama */    
    margin: 5% auto;	    
    grid-gap: 2vw;
    
}

.homeProductContainer {
    background-color: #253745;
    justify-content: center;
	align-items: center;
	text-align: center;
    height: 20vh;
    border-radius: 1vw;
    color: #d4d4d8;
    transition: transform 0.3s ease;
    pointer-events: auto; /* Tıklanabilir hale getir */
    cursor: pointer; /* Fare imleci el tipi olarak değiştir */
    
}

.homeProductContainer:hover {
    transform: translateY(-5px); /* Yüksekliği 5 piksel yukarı kaydır */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti ekle */
    background-color: #2c3849;
}


.iconColor {
    color:#d4d4d8;
}

.headerMargin {
    font-size: calc(0.8vw + 0.45vh);
    margin-top: 15%;
}

/* Full HD (1920x1080) için font boyutu */
@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .headerMargin {
    
        font-size: calc(0.56vw + 0.315vh);
    }
}

/* 2K Ekranlar için font boyutu */
@media screen and (min-width: 2560px) and (min-height: 1440px) {
.headerMargin {
    
        font-size: calc(0.7vw + 0.4vh);
    }
}



