
<div class="container">
  <div class="containerComponent">    
    <div></div>
    <div></div>
    <div><b>Stock</b></div>
    <div></div>
    <div><button type="button" class="btn btn-primary addProduct" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2">Ürün Ekle</button></div>  
  </div>

    <div class="containerComponent">
        <div class="containerInfo">Stock ID</div>
        <div class="containerInfo">Type</div>        
        <div class="containerInfo">Quantity</div>
        <div class="containerInfo">Type ID</div>
        <div class="containerInfo">Edit</div>
    </div>
    <div *ngFor="let stock of stock; let i = index" class="containerComponent" (click)="selectStock(i)">
        <div class="shelfDataDiv">{{ stock.id }}</div>
        <div class="shelfDataDiv">{{ stock.type }}</div>
        <div class="shelfDataDiv">{{ stock.quantity }}</div>
        <div class="shelfDataDiv">{{ stock.typeId}}</div>                         
        <div class="grid-container">
          <div class="grid-item"><i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></i></div>      
          <div class="grid-item"><i class="bi bi-trash3"></i></div>                     
        </div> 
      </div>     
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Stok Bilgilerini Düzenle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Stok bilgilerini düzenleme formu -->
        <form>
          <div class="mb-3">
            <label for="stockId" class="form-label">Stock ID</label>
            <input type="text" class="form-control" id="stockId" [value]="selectedStock?.id" disabled>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" disabled>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" aria-label="Number value for quantity" placeholder="Eksi değer stok azaltma, artı değer stok arttırma.">
          </div>          
          <div class="mb-3">
            <label for="typeId" class="form-label">Type ID</label>
            <input type="text" class="form-control" id="typeId" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary">Kaydet</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Add Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Stok bilgilerini düzenleme formu -->
        <form>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-control" id="type" (change)="onTypeChange($event)">
              <option value="" selected>Seçiniz...</option>
              <option *ngFor="let typeOption of typeOptions" value="{{typeOption.value}}">{{typeOption.label}}</option>
            </select>
          </div>

          <!-- CPU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'CPU'">
          <!-- CPU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'CPU'">
            <div class="mb-3">
              <label for="cpuBrand" class="form-label">Brand</label>
              <select class="form-control" id="cpuBrand">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="AMD">AMD</option>
                <option value="INTEL">INTEL</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuClockSpeed" class="form-label">Clock Speed (GHz)</label>
              <input type="number" class="form-control" id="cpuClockSpeed" step="0.01">
            </div>
            <div class="mb-3">
              <label for="cpuSocketType" class="form-label">Socket Type</label>
              <select class="form-control" id="cpuSocketType">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="AM5">AM5</option>
                <option value="AM4">AM4(5000 serisi)</option>
                <option value="1700">1700</option>
                <option value="1200">1200(400 serisi)</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuGeneration" class="form-label">Generation</label>
              <select class="form-control" id="cpuGeneration">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="12.Nesil">12.Nesil Intel</option>
                <option value="13.Nesil">13.Nesil Intel</option>
                <option value="14.Nesil">14.Nesil Intel</option>
                <option value="RYZEN 5000">RYZEN 5000 Serisi</option>
                <option value="RYZEN 7000">RYZEN 7000 Serisi</option>
                <option value="RYZEN 8000">RYZEN 8000 Serisi</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuSeries" class="form-label">Series</label>
              <select class="form-control" id="cpuSeries">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="i5">Core i5</option>
                <option value="i5">Core i7 </option>
                <option value="i7">Core i9 </option>
                <option value="Ryzen 5">Ryzen 5</option>
                <option value="Ryzen 7">Ryzen 7</option>
                <option value="Ryzen 9">Ryzen 9</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoreCount" class="form-label">Core Count</label>
              <select class="form-control" id="cpuCoreCount">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="6 Çekirdek">6 Çekirdek</option>
                <option value="8 Çekirdek">8 Çekirdek </option>
                <option value="10 Çekirdek">10 Çekirdek </option>
                <option value="12 Çekirdek">12 Çekirdek</option>
                <option value="14 Çekirdek">14 Çekirdek</option>
                <option value="16 Çekirdek">16 Çekirdek</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="cpuModel">
            </div>
            <div class="mb-3">
              <label for="cpuQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="cpuQuantity" min="1">
            </div>
          </div>

          </div>

          <!-- GPU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'GPU'">
                <!-- GPU tipi seçildiğinde görüntülenecek içerik -->
            <div *ngIf="selectedType === 'GPU'">
              <div class="mb-3">
                <label for="gpuBrand" class="form-label">Brand</label>
                <select class="form-control" id="gpuBrand">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="ASUS">ASUS</option>
                  <option value="MSİ">MSİ </option>
                  <option value="GIGABYTE">GIGABYTE </option>
                  <option value="PALIT">PALIT</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuProducer" class="form-label">GPU Producer</label>
                <select class="form-control" id="gpuProducer">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="NVDIA">NVDIA</option>
                  <option value="AMD">AMD </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuSeries" class="form-label">Series</label>
                <select class="form-control" id="gpuSeries">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="GeForce 3000">GeForce 3000 Serisi</option>
                  <option value="GeForce 4000">GeForce 4000 Serisi </option>
                  <option value="Radeon 6000">Radeon 6000 Serisi </option>
                  <option value="Radeon 7000">Radeon 7000 Serisi</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuModel" class="form-label">Model</label>
                <select class="form-control" id="gpuModel">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="RTX 3060">GeForce RTX 3060</option>
                  <option value="RTX 3070">GeForce RTX 3070 </option>
                  <option value="RTX 4060">GeForce RTX 4060 </option>
                  <option value="RTX 4070">GeForce RTX 4070</option>
                  <option value="RTX 4080">GeForce RTX 4080</option>
                  <option value="RTX 4090">GeForce RTX 4090 </option>
                  <option value="RX 6600">Radeon RX 6600 </option>
                  <option value="RX 6750">Radeon RX 6750</option>
                  <option value="RX 6800">Radeon RX 6800</option>
                  <option value="RX 7700">Radeon RX 7700 XT </option>
                  <option value="RX 7800">Radeon RX 7800 XT</option>
                  <option value="RX 7900">Radeon RX 7900 XT</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuVram" class="form-label">VRAM</label>
                <select class="form-control" id="gpuVram">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="8 GB">8 GB</option>
                  <option value="12 GB">12 GB </option>
                  <option value="16 GB">16 GB </option>
                  <option value="20 GB">20 GB</option>
                  <option value="24 GB">24 GB</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuMemoryInterface" class="form-label">Memory Interface</label>
                <select class="form-control" id="gpuMemoryInterface">     
                  <option value="" selected>Seçiniz...</option>                           
                  <option value="128-Bit">128-Bit</option>
                  <option value="192-Bit">192-Bit </option>
                  <option value="256-Bit">256-Bit </option>
                </select>
              </div>
              <div class="mb-3">
                <label for="gpuQuantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="gpuQuantity" min="1">
              </div>
            </div>
          </div>

          <!-- RAM tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'RAM'">
            <div class="mb-3">
              <label for="quantity" class="form-label">Brand</label>
              <input type="text" class="form-control" id="ramBrand" aria-label="Number value for quantity">
            </div>

            <div class="mb-3">
              <label for="ramType" class="form-label">RAM Type</label>
              <select class="form-control" id="ramType">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="DDR5">DDR5</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="ramCapacity" class="form-label">RAM Capacity</label>
              <select class="form-control" id="ramCapacity">                
                <option value="" selected>Seçiniz...</option>
                <option value="2GB">2GB</option>
                <option value="4GB">4GB</option>
                <option value="8GB">8GB</option>
                <option value="16GB">16GB</option>
                <option value="32GB">32GB</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="ramFrequency" class="form-label">Frequency Speed</label>
              <input type="number" class="form-control" id="ramFrequency" aria-label="Number value for quantity" min="1">
            </div>
                  
            
            <div class="mb-3">
              <label for="ramModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="ramModel" aria-label="Number value for quantity" min="1">
            </div>   
            
            <div class="mb-3">
              <label for="ramCapacity" class="form-label">Channel Type</label>
              <select class="form-control" id="ramCapacity">                
                <option value="" selected>Seçiniz...</option>
                <option value="singleChannel">Single Channel</option>
                <option value="dualChannel">Dual Channel</option>                
              </select>
            </div>

            <div class="mb-3">
              <label for="ramCompatibility" class="form-label">Compatibility</label>
              <select class="form-control" id="ramCompatibility">                
                <option value="" selected>Seçiniz...</option>
                <option value="desktopRam">Desktop Ram</option>
                <option value="notebookRam">Notebook Ram</option>                
              </select>
            </div>

            <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="ramQuantity" aria-label="Number value for quantity" min="1">
            </div>  
          </div>

          <!-- PSU tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'PSU'">
            <div class="mb-3">
              <label for="psuWatt" class="form-label">Watt</label>
              <select class="form-control" id="psuWatt">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="600W">600W</option>
                <option value="650W">650W </option>
                <option value="700W">700W </option>
                <option value="750W">750W</option>
                <option value="850W">850W </option>
                <option value="1000W">1000W </option>
                <option value="1200W">1200W </option>
                <option value="1600W">1600W </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuEfficiency" class="form-label">Efficiency</label>
              <select class="form-control" id="psuEfficiency">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="80 TITANIUM">80 PLUS TITANIUM</option>
                <option value="80 PLATINUM">80 PLUS PLATINUM </option>
                <option value="80 GOLD">80 PLUS GOLD </option>
                <option value="80 BRONZE">80 PLUS BRONZE</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuModular" class="form-label">Modular</label>
              <select class="form-control" id="psuModular">
                <option value="" selected>Seçiniz...</option>
                <option value="Fully Modular">Fully Modular</option>
                <option value="Semi Modular">Semi Modular</option>
                <option value="Non Modular">Non Modular</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuType" class="form-label">Type</label>
              <select class="form-control" id="psuType">
                <option value="" selected>Seçiniz...</option>
                <option value="ATX">ATX</option>
                <option value="ATX12V">ATX12V</option>
                <option value="SFX">SFX</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuPcieGen5Support" class="form-label">PCIe Gen 5 Support</label>
              <select class="form-control" id="psuPcieGen5Support">
                <option value="" selected>Seçiniz...</option>
                <option value="VAR">VAR</option>
                <option value="YOK">YOK</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuBrand" class="form-label">Brand</label>
              <select class="form-control" id="psuBrand">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="ASUS">ASUS</option>
                <option value="COOLER MASTER">COOLER MASTER </option>
                <option value="CORSAIR">CORSAIR </option>
                <option value="FSP">FSP</option>
                <option value="MSI">MSI </option>
                <option value="THERMALTAKE">THERMALTAKE </option>
                <option value="NZXT">NZXT </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="psuModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="psuModel">
            </div>
            <div class="mb-3">
              <label for="psuQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="psuQuantity" min="1">
            </div>
          </div>
          <!-- Anakart tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'Motherboard'">
            <div class="mb-3">
              <label for="motherboardBrand" class="form-label">Brand</label>
              <select class="form-control" id="motherboardBrand">
                <option value="" selected>Seçiniz...</option>
                <option value="ASUS">ASUS</option>
                <option value="MSI">MSI</option>
                <option value="GIGABYTE">GIGABYTE</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="motherboardCpuCompatibility" class="form-label">CPU Compatibility</label>
              <select class="form-control" id="motherboardCpuCompatibility">
                <option value="" selected>Seçiniz...</option>
                <option value="AMD">AMD Uyumlu</option>
                <option value="INTEL">INTEL Uyumlu</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="motherboardCpuSocketType" class="form-label">CPU Socket Type</label>
              <select class="form-control" id="motherboardCpuSocketType">
                <option value="" selected>Seçiniz...</option>
                <option value="1700">1700</option>
                <option value="1151">1151</option>
                <option value="AM4">AM4</option>
                <option value="AM5">AM5</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="motherboardRamType" class="form-label">RAM Type</label>
              <select class="form-control" id="motherboardRamType">
                <option value="" selected>Seçiniz...</option>
                <option value="DDR4">DDR4</option>
                <option value="DDR5">DDR5</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="motherboardSize" class="form-label">Size</label>
              <select class="form-control" id="motherboardSize">
                <option value="" selected>Seçiniz...</option>
                <option value="ATX">ATX</option>
                <option value="Micro ATX">Micro ATX</option>   
                <option value="Mini ITX">Mini ITX</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="motherboardRamSlots" class="form-label">RAM Slots</label>
              <select class="form-control" id="motherboardRamSlots">
                <option value="" selected>Seçiniz...</option>
                <option value="2">2</option>
                <option value="4">4</option>   
              </select>
            </div>

            <div class="mb-3">
              <label for="motherboardModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="motherboardModel">
            </div>
            <div class="mb-3">
              <label for="motherboardQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="motherboardQuantity" min="1">
            </div>
          </div>

          <!-- İşlemci soğutucusu tipi seçildiğinde görüntülenecek içerik
          BURAYA UYUMLU SOKETLER EKLENMESİ LAZIM  -->
          <div *ngIf="selectedType === 'CPU Cooler'">
            <div class="mb-3">
              <label for="cpuCoolerType" class="form-label">Type</label>
              <select class="form-control" id="cpuCoolerType">
                <option value="" selected>Seçiniz...</option>
                <option value="Hava Soğutma">Hava Soğutma</option>
                <option value="Sıvı Soğutma">Sıvı Soğutma</option>   
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoolerFanLength" class="form-label">Fan Length</label>
              <select class="form-control" id="cpuCoolerFanLength">
                <option value="" selected>Seçiniz...</option>
                <option value="110mm ">110mm</option>
                <option value="120mm">120mm</option>   
                <option value="140mm">140mm</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoolerRPM" class="form-label">RPM</label>
              <select class="form-control" id="cpuCoolerRPM">
                <option value="" selected>Seçiniz...</option>
                <option value="2400 RPM ">2400 RPM</option>
                <option value="2800 RPM">2800 RPM</option>   
                <option value="3200 RPM">3200 RPM</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoolerMaterial" class="form-label">Material</label>
              <select class="form-control" id="cpuCoolerMaterial">
                <option value="" selected>Seçiniz...</option>
                <option value="Aluminyum ">Aluminyum</option>
                <option value="Bakır">Bakır</option>   
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoolerLED"class="form-label">LED</label>
              <select class="form-control" id="cpuCoolerLED">
                <option value="" selected>Seçiniz...</option>
                <option value="RGB ">RGB</option>
                <option value="Beyaz">Beyaz</option>   
                <option value="Mavi">Mavi</option>   
              </select>
            
            </div>
            <div class="mb-3">
              <label for="cpuCoolerBrand" class="form-label">Brand</label>
              <select class="form-control" id="cpuCoolerBrand">
                <option value="" selected>Seçiniz...</option>
                <option value="ASUS">ASUS</option>
                <option value="MSI">MSI</option>
                <option value="CORSAIR">CORSAIR</option>  
                <option value="COOLER MASTER">COOLER MASTER</option>
                <option value="GIGABYTE">GIGABYTE</option>
                <option value="THERMALTAKE">THERMALTAKE </option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="cpuCoolerModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="cpuCoolerModel">
            </div>
            <div class="mb-3">
              <label for="cpuCoolerQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="cpuCoolerQuantity" aria-label="Number value for quantity" min="1">
            </div>
          </div>

          <!-- Bilgisayar kasası tipi seçildiğinde görüntülenecek içerik -->
          <div *ngIf="selectedType === 'Computer Case'">
            <div class="mb-3">
              <label for="caseBrand" class="form-label">Brand</label>
              <select class="form-control" id="caseBrand">
                <option value="" selected>Seçiniz...</option>
                <option value="ASUS">ASUS</option>
                <option value="MSI">MSI</option>
                <option value="CORSAIR">CORSAIR</option>  
                <option value="COOLER MASTER">COOLER MASTER</option>
                <option value="GIGABYTE">GIGABYTE</option>
                <option value="THERMALTAKE">THERMALTAKE </option>  
                <option value="BITFENIX">BITFENIX</option>
                <option value="VENTO">VENTO </option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="caseModel" class="form-label">Model</label>
              <input type="text" class="form-control" id="caseModel">
            </div>
            <div class="mb-3">
              <label for="caseType" class="form-label">Type</label>
              <select class="form-control" id="caseType">
                <option value="" selected>Seçiniz...</option>
                <option value="ATX Full Tower">ATX Full Tower</option>
                <option value="ATX Mid Tower">ATX Mid Tower</option>
                <option value="MicroATX">MicroATX</option>  
                <option value="Mini-ITX">Mini-ITX</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="casePSU" class="form-label">PSU</label>
              <select class="form-control" id="caseTransparent">
                <option value="" selected>Seçiniz...</option>
                <option value="VAR">VAR</option>  
                <option value="YOK">YOK</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="casePSULocation" class="form-label">PSU Location</label>
              <select class="form-control" id="caseType">
                <option value="" selected>Seçiniz...</option>
                <option value="Aşağıda">Aşağıda</option>
                <option value="Yukarıda">Yukarıda</option>
                <option value="Gizli Yan Panel">Gizli Yan Panel</option>  
              </select>
            </div>
            <div class="mb-3">
            <label for="caseTransparent" class="form-control">Şeffaf Kasa</label>
              <select class="form-control" id="caseTransparent">
                <option value="" selected>Seçiniz...</option>
                <option value="EVET">EVET</option>  
                <option value="HAYIR">HAYIR</option>  
              </select>
            </div>
            <div class="mb-3">
              <label for="casePSUWatt" class="form-label">PSU Watt</label>
              <select class="form-control" id="psuWatt">     
                <option value="" selected>Seçiniz...</option>                           
                <option value="600W">600W</option>
                <option value="650W">650W </option>
                <option value="700W">700W </option>
                <option value="750W">750W</option>
                <option value="850W">850W </option>
                <option value="1000W">1000W </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="caseQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="caseQuantity" aria-label="Number value for quantity" min="1">
            </div>
          </div>


          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary">Kaydet</button>
      </div>
    </div>
  </div>
</div>

