.container {
    position: relative;    
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    height: 50vh; /* Ekran yüksekliği kadar alan kapla */
    
  }
  
  #login-form {
    width: 20vw; /* View width kadar genişlet */
    margin: 0 auto; /* Formu yatayda ortala */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
  }
  
  fieldset {
    padding: 3.75vh;
    border: 1px solid #ccc;
    font-size: calc(0.5vw + 0.125vh);
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 0px;
    color: #EEEEEE;
    text-align: center; /* Yazıyı ortala */
    font-size: calc(1.0vw + 0.125vh);
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    color: #EEEEEE;

  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.5vh;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .buttonMargin {
    margin-top: 5%;
  }
  
  