
<div class="container">
    <div class="containerComponent">
        <div class="containerInfo">Employee ID</div>
        <div class="containerInfo">Name</div>        
        <div class="containerInfo">Surname</div>
        <div class="containerInfo">Email</div>
        <div class="containerInfo">Role</div>
        <div class="containerInfo">Edit</div>
    </div>
    <div *ngFor="let employee of employees" class="containerComponent">
        <div class="employeeId">{{ employee.id }}</div>
        <div class="employeeDataDiv">{{ employee.name }}</div>
        <div class="employeeDataDiv">{{ employee.surname }}</div>
        <div class="employeeDataDiv">{{ employee.email }}</div>
        <div class="employeeDataDiv">{{ employee.role}}</div>                         
        <div class="grid-container">
          <div class="grid-item"><i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"></i></div>      
          <div class="grid-item"><i class="bi bi-trash3"></i></div>                     
        </div> 
    </div>     
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>