.container {
    background-color: white;
    border-radius: 5px;
    margin-top: 20vh;
}

.containerComponent {       
    height: 3vh;
    margin-left: -1%;
    margin-right: -1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    text-align: center;    
    border-bottom: 0.5px solid #ccc; /* Açık gri alt kenarlık ekleme */
}

.containerComponent:hover {
    background-color: whitesmoke;
}

.containerComponent:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 9vh;
    display: grid;
    font-size: calc(0.25 * 2.5vw + 0.25 * 2.5vh);
}

.containerComponent:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.containerInfo {
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 parçaya böl */
    
  }
  
  .grid-item {    
    text-align: center;
    cursor: pointer;
  }

  .addProduct {
    grid-column: 3;        
  }

  .header {
    grid-column-start: 2; 
    grid-column: span 2;
  }

  



