/* this is needed to make the content scrollable on larger screens */
@media (max-width: 1000px) {
    .sidebarColor {
        width: 100%;
    }
}
.rounded {
    border-radius: 50px;
}

.sidebarColor {
    background-color: #11212D;
}

.iconColor {
    color:#d4d4d8;
}

.contentColor {
    color: #d4d4d8;
}

.nav-link:hover {
    transform: translateY(-5px); /* Yüksekliği 5 piksel yukarı kaydır */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti ekle */
    transition: transform 0.75s ease;
    //background-color: #2c3849;
}

.notification {
    display: flex;
    justify-content: center; /* İçeriğin yatay olarak ortalanmasını sağlar */
    align-items: center; /* İçeriğin dikey olarak ortalanmasını sağlar */    
    padding: 2.5%;    
    margin-left: 15%;
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.notification-counter {
    position: absolute;
    
    top: 0.400%;
    right: 6%;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}


.col-xl-dynamic {
    flex: 0 0 15%; /* Genişlik 12.5% olacak şekilde ayarlanır */
    max-width: 15%; /* Maksimum genişlik 12.5% olarak belirlenir */
}
