.container {
    background-color: white;
    border-radius: 5px;
    margin-top: 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    width: 60vw;
}

.containerComponent {       
    height: 30vh;
    margin-left: -1%;
    margin-right: -1%;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    text-align: center;    
    border-bottom: 0.5px solid #ccc; /* Açık gri alt kenarlık ekleme */
}

.containerComponent:hover {
    background-color: whitesmoke;
}

containerComponent:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
