<div class="container"> 
    <div class="containerComponent">CPU <i class="bi bi-cpu"></i></div>
    <div class="containerComponent">GPU <i class="bi bi-gpu-card"></i></div>
    <div class="containerComponent">PSU <i class="bi bi-lightning"></i></div>
    <div class="containerComponent">Motherboard <i class="bi bi-motherboard"></i></div>
    <div class="containerComponent">RAM <i class="bi bi-memory"></i></div>
    <div class="containerComponent">Desktop Case <i class="bi bi-pc"></i></div>
    <div class="containerComponent">CPU Cooler <i class="bi bi-fan"></i></div>
    <div class="containerComponent"></div>
    <div class="containerComponent"></div>

</div>
    